* {
    background-color:#95BF74;
    
}
h1 {
    background-color: #556F44;
    border: 2px solid  #556F44;;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 8vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
div {
    color: white;
    font-size: large;
}
p {
    background-color:  white;
    color: #556F44;
}
.postres {
    width: 500px;
    height: 300px;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}
iframe {
    padding: 5%;
    float: right;
}