* {
    box-sizing: border-box;

}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;background-color:#95BF74;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #556F44;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #283F3B;
    color: white;
  }
h1 {
    background-color: #556F44;
    border: 2px solid  #556F44;;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 8vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
div {
    color: white;
    font-size: large;
}
p {
    background-color:  white;
    color: #556F44;
}
.snacks {
    width: 500px;
    height: 300px;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}
iframe {
    padding: 5%;
    float: right;
}