html {
  font-size: 62.5%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #556F44;
}

.topnav a {
  float: left;
  color: #95BF74;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #283F3B;
  color: white;
}

#myheader {
  background-color: #556F44;
  opacity: 0.8;
  color: white;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 10vh;
  transition-property: font-size;
  transition-duration: 3s;
}

#myheader:hover {
  font-size: 12vh;
}

/*.container:hover #myheader {
  background-color: #04241e;
  /*transition: background-color 3s;
  clip-path: circle(150% at top left);
}*/
.flex-container {

  display: flex;

}

.imagen {
  float: left;
  width: 128px;
  padding: 15px;
}

.comida {
  background-color: #95BF74;
  border-style: solid;
  border-width: medium;
  color: white;
  margin: 15px 5px;
  padding: 10px;
  text-align: justify;

  box-sizing: border-box;
}


footer {
  background-color: #556F44;
  border-style: solid;
  border-color: #556F44;
  margin: 10px;


}

@media only screen and (max-width: 600px) {
  .flex-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 600px) {
  .flex-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

 
}