* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #556f44;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #283f3b;
  color: white;
}

formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
}
.titulo {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20 px;
}
label {
  display: block;
  margin-bottom: 5px;
}
formulario div input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

formulario div {
  position: relative;
  margin-bottom: 15px;
}

input:focus {
  border: 2px solid #106343;
}

formulario div i {
  position: absolute;
  padding: 10px;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}
.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

button {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background-color: #f2796e;
  border: 2px solid #f2796e;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}

button:hover {
  opacity: 0.8;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.btn-1,
.btn-2 {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-2 {
  background-color: #4f70b5;
  color: white;
}

.or {
  text-align: center;
}

.pregunta {
  font-size: 15px;
}

span {
  color: #71ec8c91;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: row;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1e5229;
  width: 55%;
  min-height: 100vh;
  padding: 10px 20px;
}

formulario {
  width: 45%;
  max-width: none;
}
.imagen {
  background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /*border: 2px solid black; */
  height: 65%;
}

.texto {
  text-align: center;
  color: white;
  font-size: 18px;
}

formulario {
  width: 45%;
  max-width: none;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  formulario,
  .contenido {
    width: 100%;
  }

  .btn {
    flex-direction: column;
  }
  .imagen {
    height: 70vh;
  }
}
@media (max-width: 425px) {
  formulario {
    padding: 20px;
  }
}
